<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout( ~{::title}, ~{::section} )}">
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
</head>
<body>
	<section>
		<div class="container-fluid p-0 m-0">
	  		<img alt="" src="/image/notebook.jpg" height="542px" width="100%">
	  
	  		<div class="centered fs-1 fw-bold">
	  		<th:block th:if="${user != null}">
	  			<p>
	  				If you wish to forget anything on the spot, make a note that this thing is to be remembered.
	  				<a href="/user/addNotes" class="btn btn-dark">Create One</a>
	  			</p>
	  		</th:block>
	  		
	  		
	  		<th:block th:if="${user == null}">
	  			<p>
	  				If you wish to forget anything on the spot, make a note that this thing is to be remembered.
	  				<a href="/register" class="btn btn-dark">Create One</a>
	  			</p>
	  		</th:block>
	  		</div>
	</div>
		
			
		
	</section>
</body>
</html>